/*Создал первый стиль CSS для заголовка p*/
p{
    color: red;
}
/*Создал второй стиль CSS и именно он будет принят */
p{
    color: blue;
}
/*При этом если мы создадим отдельнй класс Red*/
.red{
    color: red;
}
/*Он не буедет перебиваться последним стилем p, так как
встроенный класс имеет больший приоритет*/
p{
    color:blue
}
